
*{
    margin:0;
    padding:0;
  
}
/*磁带的健康状况--------弹出*/
.health_list,.type_list,.unit_list{
	width:45.92%;
	position:absolute;
	z-index:40;
	 border-radius: 5px;
    margin-left: 27%;
    margin-top: 8%;
    /*阴影*/
    -webkit-box-shadow: 0 8px 8px #8B8B88;
    -moz-box-shadow: 0 8px 8px #8B8B88;
    box-shadow: 0 8px 8px #8B8B88;
    background-color:#EEF2FE;
}

.health_head,.type_head,.unit_head{
	width:100%;
    height:40px;
	border-top-left-radius:5px;
    border-top-right-radius:5px;
    background: -ms-linear-gradient(top, #2196D9, #1B85CF); /* IE 10 */
    background: -moz-linear-gradient(top,#2196D9,#1B85CF); /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#2196D9), to(#1B85CF)); /*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2196D9), to(#1B85CF)); /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #2196D9, #1B85CF); /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #2196D9, #1B85CF); /*Opera 11.10+*/
}
.health_head span,.type_head span,.unit_head span{
	 color:#fff;
    font-family:"黑体";
    font-size:1.125em;
    line-height:40px;
    margin-left:2%;
}
.health_head img,.type_head img,.unit_head img{
    float:right;
}
.health_content,.type_content,.unit_content{
    background-color:#EEF2FE;
    width:100%;
     border-bottom-left-radius:5px;
     border-bottom-right-radius:5px;
}
.scroll{
     width:71.89%;/*468*/
    margin-top:2%;
    position:absolute;
    margin-left:13%;
    border:1px solid #BDC4CA;
    overflow:auto;
}
/*表格*/
.health_table{
    width:100%;/*468*/
      color:#000;
    font-family:"黑体";
    font-size:1em;
}
.unit_table{
      width:71.89%;/*468*/
    margin-top:2%;
    position:absolute;
    margin-left:13%;
    border:1px solid #BDC4CA;
     color:#000;
    font-family:"黑体";
    font-size:1em;
}
.health_table tr,.unit_table tr{
    width:100%;
    height:30px;
}
.health_table tr.odd,.unit_table tr.odd{
    width:25%;
    background-color:#EDF3FE;
    text-align:center;
}
.health_table tr.even,.unit_table tr.even{
    width:25%;
    background-color:#C2DAF3 !important;
    text-align:center;
}

#pie_iframe1{
    width:100%;
}
#pie_iframe2,.pie_iframe2,#pie_iframe3,#pie_iframe4{
    width:100%;
}
.highcharts-background{
    fill:#EEF3FA;
}
#highcharts-0 > svg{
    background-color:#EEF3FA;
}
.highcharts-background{
    fill:transparent !important;
    height:250px;
} 
#highcharts-0{
     background-color:#EEF3FA;
}
#highcharts-0 > svg:nth-child(1){
     fill:#EEF3FA;
}
#container{
    margin-top:0;
}
.highcharts-series-group{
   margin-left:-200px;
}