body {
    background-color: #EEF3FA;
    background-image: Url(img/bg.png);
    background-repeat: no-repeat;
    width: 100%; /*1440px*/
    height: 100%; /* 644px*/
}
*{
    margin:0;
    padding:0;
}
#info_report{
    width:100%;
}
span{
    font-family:"黑体";
    font-size:1em;
    color:#000;
}
/*遮罩层*/
.shadow{
	width:100%;
	position:absolute;
	background-color:#000;
	opacity:0.4;
    filter:alpha(opacity=40);
	z-index:30;

}
/*报告明细表\待检测列表--------弹出*/
.report_details,.arguments_details,.wait_checklist,.single_checklist{
	width:45.92%;
	position:absolute;
	z-index:40;
	 border-radius: 5px;
    margin-left: 27%;
    margin-top: 8%;
    /*阴影*/
    -webkit-box-shadow: 0 8px 8px #8B8B88;
    -moz-box-shadow: 0 8px 8px #8B8B88;
    box-shadow: 0 8px 8px #8B8B88;
}

.rep_head{
	width:100%;
    height:40px;
	border-top-left-radius:5px;
    border-top-right-radius:5px;
    background: -ms-linear-gradient(top, #2196D9, #1B85CF); /* IE 10 */
    background: -moz-linear-gradient(top,#2196D9,#1B85CF); /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#2196D9), to(#1B85CF)); /*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2196D9), to(#1B85CF)); /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #2196D9, #1B85CF); /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #2196D9, #1B85CF); /*Opera 11.10+*/
}
.rep_head span{
	 color:#fff;
    font-family:"黑体";
    font-size:1.125em;
    line-height:40px;
    margin-left:2%;
}
.rep_head img{
    float:right;
}
.rep_content,.single_content{
    background-color:#EEF2FE;
    width:100%;
     border-bottom-left-radius:5px;
     border-bottom-right-radius:5px;
     position:relative;

}

/*表格*/
.rep_table{
    width:71.89%;/*468*/
    height:185px;
    margin-top:2%;
    position:absolute;
    margin-left:13%;
}
.single_table {
     width:71.89%;/*468*/
    height:30px;
    margin-top:2%;
    position:absolute;
    margin-left:13%;
}
.rep_content button{
    width:138px;
    height:44px;
    color:#fff;
    background-color:#1984CF;
    float:right;
    border:none;
    margin-top:30%;
     color:#fff;
    font-family:"黑体";
    font-size:1em;
    
}
.single_content button{
     width:138px;
    height:44px;
    margin-top:9%;
    margin-left:37.5%;
    color:#fff;
    background-color:#1984CF;
    border:none;
    font-family:"黑体";
    font-size:1em;
}
.rep_table tr{
    width:100%;
    height:24px;
}

.rep_table .iname{
    width:32.69%;
    height:24px;
    color:#000;
    font-family:"黑体";
    font-size:0.875em;
}
.rep_table .tinput{
    width:67.3%;/*315*/
    height:24px;
     color:#000;
    font-family:"黑体";
    font-size:0.875em;
}
.rep_table .tinput select{
    width:44.76%;
    height:24px;
     color:#000;
    font-family:"黑体";
    font-size:0.875em;
    border:1px solid #1D44FE;
}
.tinput select option{
    width:100%;
     height:24px;
     color:#000;
    font-family:"黑体";
    font-size:0.875em;
    border:1px solid #1D44FE;
}
.tinput input{
    width:44.76%;
    height:24px;
    border:1px solid #1D44FE;
}
/*待检测列表----*/










/*设置外框*/
.chart{
    width:31.23%;
    border:1px solid #D8DDE8;
    float:left;
    margin-left:1%;
    margin-top:1%;
}
.chart .chart_head{
    width:100%;
    background-color:#78CEF8;
    height:42px;
    line-height:42px;
}
.chart .chart_head span{
    margin-left:5%;
}
.chart  .chart_content{
     width:100%;
     height:229px;
}
.chart_content canvas{
    padding-top:4%;
}
/*健康状况饼图*/
#chart1,#chart2{
    width:100%;
    height:228px !important;
    position:relative;
}
.ui-state-default{
    width:100% !important;
}

#chart1 table,#chart2 table{
    width:25.68%;
    height:200px;
    float:right;
    margin-right:10%;
    margin-top: 5%;
}
#chart1 table td,#chart2 table td{
    width:2.29%;
    height:5px;
}
#chart1 div ,#chart2 div{
    margin-left: 5%;
    position:absolute;
    margin-top: 5%;
    margin-right:10%;
}

 #line_iframe{
     width:90%;
 }
  #line_iframe2{
     width:80%;
     margin-left:5%;
 }
 #container{
     width:90%;
 }
#highcharts-0 > svg:nth-child(1){
     width:100%;
}
.highcharts-background{
     width:100%;
     height:220px;
}
